.Entete{
    background-color:rgb(46, 45, 45);
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
   
    
   
}
.logo{
    margin-left: 15px;
}

.avatar{
    display: flex;
    align-items: center;
    
   }
   
.MuiAvatar-img{
    border-radius: 100%;
    display: flex;
    padding-right: 3px;
    padding-left: 10px;
   }